<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    <h4>Arrayde bulundugu index kucuk olan savasi kazanir!</h4>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea placeholder="Arrayi buraya giriniz" name="input1" rows="10" cols="30"></textarea>
        <textarea placeholder="Textarea1: ilk sayiyi buraya giriniz" name="input2" rows="10" cols="30"></textarea>
        <textarea placeholder="Textarea2: ikinci sayiyi buraya giriniz" name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
